*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    background-color: rgb(99, 16, 57);
}
#calculator {
 margin: 20px auto ;
    background-color: grey;
    width: 15%;
    height: 60%;
}
#display {
    background-color: lightgoldenrodyellow;
 position: relative;
 top:45px;
 left:10px;
    padding:0 auto;
   
    height: 18%;
    width: 90%;
    
}
#keys {
   margin:60px auto;
   padding:10px auto;
    height: 60%;
    width: 90%;
    background-color: rebeccapurple;
   
}
button {
    width: 33%;
    height: 19%;
}